# Environment and Blockfrost Parameters
API_KEY=
API_URL=
# optimized (default), binds, or tracing
DRY_RUN=
SCRIPT_TYPE=
SHOULD_BUILD_TOKEN_DEPOSIT_TX=



# Project details
DEADLINE=
REF_SCRIPTS_ADDRESS=
PROJECT_REFUND_ADDRESS=
PROJECT_ADDRESS=
PENALTY_ADDRESS=
PROJECT_AMNT=
PROJECT_TN=
PROJECT_TN_DECIMALS=
PROJECT_NAME=
PROJECT_DESC=

# Creating a Pool Parameters
POOL_POLICY_ID=
POOL_ADDRESS=
V1_FACTORY_TOKEN=
V1_POOL_POLICY_SCRIPT=
V1_POOL_FACTORY_VALIDATOR=